/* style.css */

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    background-color: black;
}

#canvas-container {
    flex: 1;
    position: relative;
}

canvas {
    display: block;
}


#menu-container {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid #FFA500;
    padding: 1rem;
    width: 240px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dragable{
    background-color: rgba(55, 65, 81, 0.8);
}

.dragable:hover {
    background-color: #5e3d00;
    /* change mouse cursor to "pointer" when hovering over menu */
    cursor: grab;
}


#info-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(55, 65, 81, 0.8);
    border: 2px solid #FFA500;
    padding: 1rem;
    width: auto;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFA500;
}

/* Boutons du menu d'action */
.menu-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid #FFA500;
    background-color: rgba(55, 65, 81, 0.8);
    color: #FFA500;
    margin: 0 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Boutons du menu d'action au survol */
.menu-button:hover {
    background-color: #FFA500;
    color: black;
}

.icon-bar {
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.labelForInput {
    color: #FFA500;
    align-self: center;
    margin: 4px;
}

.formElement {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formInput {
    border: 2px solid #FFA500;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 100%;
}

